/* line 5, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_variables.scss */
html {
  font-size: 20px;
}

/* line 29, ../sass/_extend.scss */
.logisticsInfoPage-icon-one, .logisticsInfoPage-top-middle {
  font-weight: bold;
}

/* line 45, ../sass/_extend.scss */
.logisticsInfoPage-top-left, .logisticsInfoPage-top-middle, .logisticsInfoPage-top-right {
  flex: 1;
}

/* line 51, ../sass/_extend.scss */
.logisticsInfoPage-top, .middle-logistics {
  display: flex;
}

/* line 56, ../sass/_extend.scss */
.logisticsInfoPage-icon-one, .logisticsInfoPage-top-middle {
  color: #fff;
}

@font-face {
  font-family: 'font-qunar';
  src: url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}
/* line 10, ../sass/info.scss */
.body {
  display: fixed;
  flex-direction: column;
  background-color: #fff;
}

/* line 18, ../sass/info.scss */
.logisticsInfoPage-top {
  width: 100%;
  flex-basis: 2.4rem;
  background-color: #1ba8b9;
}

/* line 29, ../sass/info.scss */
.logisticsInfoPage-icon-one {
  font-family: font-qunar;
  margin-top: 0.8rem;
  margin-left: 0.45rem;
}

/* line 43, ../sass/info.scss */
.logisticsInfoPage-lable-connect {
  width: 100%;
  height: 1.6rem;
  text-align: center;
  margin-top: 0.8rem;
}

/* line 61, ../sass/info.scss */
.middle-logistics-left {
  flex-basis: 2.6rem;
  height: 100%;
}

/* line 66, ../sass/info.scss */
.mail-logo {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

/* line 72, ../sass/info.scss */
.middle-logistics-right {
  width: 100%;
  height: auto;
}

/* line 75, ../sass/info.scss */
.middle-logistics-right-status {
  margin-left: 0.5rem;
}

/* line 79, ../sass/info.scss */
.middle-logistics-company-status {
  margin-top: 1.05rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #323232;
}

/* line 84, ../sass/info.scss */
.middle-logistics-company-status-lable {
  width: 2.8rem;
  height: 0.75rem;
}

/* line 89, ../sass/info.scss */
.middle-logistics-company-status-content {
  margin-left: 0.4rem;
  color: #37af71;
}

/* line 94, ../sass/info.scss */
.middle-logistics-company-srouce {
  margin-top: 0.35rem;
  font-size: 0.65rem;
  font-weight: bold;
  color: #9a9a9a;
  width: 100%;
  height: 0.7rem;
}

/* line 100, ../sass/info.scss */
.middle-logistics-company-srouce-lable {
  width: 2.8rem;
  height: 0.7rem;
}

/* line 104, ../sass/info.scss */
.middle-logistics-company-srouce-content {
  margin-left: 0.4rem;
}

/* line 108, ../sass/info.scss */
.middle-logistics-company-mailnumber {
  margin-top: 0.15rem;
  font-size: 0.65rem;
  font-weight: bold;
  color: #9a9a9a;
  width: 100%;
  height: 0.7rem;
}

/* line 114, ../sass/info.scss */
.middle-logistics-company-mailnumber-lable {
  width: 2.8rem;
  height: 0.7rem;
}

/* line 118, ../sass/info.scss */
.middle-logistics-company-mailnumber-content {
  margin-left: 0.4rem;
}

/* line 122, ../sass/info.scss */
.pleaceHolder-one {
  width: 100%;
  height: 0.5rem;
  background-color: #edeef0;
}

/* line 128, ../sass/info.scss */
.logistics-location {
  width: 100%;
  height: auto;
}

/* line 132, ../sass/info.scss */
.logistics-location-title {
  width: 100%;
  height: 2.25rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #9a9a9a;
}

/* line 138, ../sass/info.scss */
.logistics-location-title-lable {
  margin-left: 0.5rem;
  margin-top: 0.75rem;
}

/* line 144, ../sass/info.scss */
.logistics-location-title-line {
  margin-left: 0.5rem;
  margin-top: 0.8rem;
  border-bottom: 0.05rem solid #dcdcdc;
}

/* line 150, ../sass/info.scss */
.logistics-location-status {
  margin-left: 0.9rem;
  width: auto;
  height: 100%;
  border-left: 0.1rem solid #cdcdcd;
  height: 100%;
}

/* line 160, ../sass/info.scss */
.logistics-location-status-first {
  font-size: 0.6rem;
  font-weight: bold;
  color: #34b563;
  margin-left: 0.65rem;
  border-bottom: 0.05rem solid #cdcdcd;
  position: relative;
}

/* line 167, ../sass/info.scss */
.gui-drawing-first-spaceline:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -0.75rem;
  border-left: 0.1rem solid #fff;
  height: 50%;
  z-index: 100;
  width: 0.1rem;
}

/* line 177, ../sass/info.scss */
.gui-drawing-first-spaceline :before {
  content: "";
  position: absolute;
  top: 30%;
  left: -1.15rem;
  border: 0.1rem solid #85ebfa;
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #1ba8b9;
  z-index: 200;
}

/* line 191, ../sass/info.scss */
.logistics-location-status-first-company, .logistics-location-status-normal-company, .logistics-location-status-last-company {
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
}

/* line 196, ../sass/info.scss */
.logistics-location-status-first-data, .logistics-location-status-normal-data, .logistics-location-status-last-data {
  width: 100%;
  height: 1.4rem;
  line-height: 1.3rem;
}

/* line 202, ../sass/info.scss */
.logistics-location-status-normal, .logistics-location-status-last {
  font-size: 0.6rem;
  font-weight: bold;
  color: #878787;
  margin-left: 0.65rem;
  border-bottom: 0.05rem solid #cdcdcd;
  position: relative;
}

/* line 210, ../sass/info.scss */
.gui-drawing-normal-spaceline:after, .gui-drawing-last-spaceline:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  border: 0.1rem solid #d3d3d3;
  border-radius: 50%;
  height: 0.35rem;
  width: 0.35rem;
  background-color: #d3d3d3;
  z-index: 50;
}

/* line 244, ../sass/info.scss */
.gui-drawing-last-spaceline:before {
  content: "";
  position: absolute;
  border-left: 0.1rem solid #fff;
  height: 50%;
  width: 0.1rem;
  top: 50%;
  left: -0.75rem;
  z-index: 10;
}
