/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_variables.scss */
html {
  font-size: 20px;
}

/* line 3, ../sass/_extend.scss */
.invoiceSchedule-top-title, .mail-status-gui, .mail-status-gui-left, .mail-status-gui-right, .mail-status-content, .bottom, .buttom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 13, ../sass/_extend.scss */
.icon-go {
  font-size: 0.6rem;
}

/* line 45, ../sass/_extend.scss */
.invoiceSchedule-top-title-left, .invoiceSchedule-top-title-content, .invoiceSchedule-top-title-right, .mail-state-flex, .mail-status-gui-left, .mail-status-gui-right, .mail-msg-status, .mail-msg-status-title-company, .mail-data-title-company, .mail-user-data-person-data, .mail-msg-status-state-comtent, .mail-data-mark-comtent {
  flex: 1;
}

/* line 51, ../sass/_extend.scss */
.invoiceSchedule-top-title, .mail-state, .mail-status-gui, .mail-msg, .mail-msg-status-title, .mail-data-title, .mail-msg-status-state, .mail-data-mark, .mail-user-data-person, .mail-msg-goIcon {
  display: flex;
}

@font-face {
  font-family: 'font-qunar';
  src: url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}
/* line 17, ../sass/schedule.scss */
html {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 23, ../sass/schedule.scss */
.invoiceSchedulePage-AddData {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 29, ../sass/schedule.scss */
.body {
  position: relative;
  background-color: #fff;
}

/* line 34, ../sass/schedule.scss */
.invoiceSchedulePage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

/* line 46, ../sass/schedule.scss */
.invoiceSchedule-top, .header {
  width: 100%;
  height: auto;
  background-color: #1ba9ba;
}

/* line 52, ../sass/schedule.scss */
.invoiceSchedule-top-title {
  position: relative;
  height: 2.4rem;
  z-index: 10;
}

/* line 62, ../sass/schedule.scss */
.invoiceSchedule-icon-one {
  margin-left: 0.5rem;
  font-family: 'font-qunar';
}

/* line 69, ../sass/schedule.scss */
.invoiceSchedule-top-title-content {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

/* line 81, ../sass/schedule.scss */
.mail-state {
  height: 3.2rem;
}

/* line 92, ../sass/schedule.scss */
.mail-status-gui {
  width: 100%;
  height: 1.6rem;
}

/* line 100, ../sass/schedule.scss */
.mail-status-gui-left {
  width: 100%;
  height: 1.6rem;
}

/* line 107, ../sass/schedule.scss */
.mail-status-gui-right {
  width: 100%;
  height: 1.6rem;
}

/* line 115, ../sass/schedule.scss */
.mail-status-gui-line {
  border-bottom: 0.1rem solid #fff;
  width: 100%;
  height: 0.1rem;
}

/* line 122, ../sass/schedule.scss */
.mail-status-gui-not-line {
  border-bottom: 0.1rem solid #60c3cf;
  width: 100%;
  height: 0.1rem;
}

/* line 129, ../sass/schedule.scss */
.mail-status-gui-point {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 0.45rem;
  height: 0.45rem;
  background-color: #fff;
}

/* line 134, ../sass/schedule.scss */
.mail-status-gui-grey-point {
  width: 0.45rem;
  height: 0.45rem;
  border: 1px solid #60c3cf;
  border-radius: 50%;
  background-color: #1ba9ba;
}

/* line 140, ../sass/schedule.scss */
.mail-status-gui-point-max {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #fff;
  text-align: center;
}

/* line 145, ../sass/schedule.scss */
.icon-two {
  font-family: 'font-qunar';
  font-weight: bold;
}

/* line 157, ../sass/schedule.scss */
.mail-status-content-discribe {
  font-size: 0.6rem;
  color: #fff;
}

/* line 163, ../sass/schedule.scss */
.mail-msg {
  width: 100%;
  height: auto;
  font-size: 0.6rem;
  color: #9a9a9a;
}

/* line 173, ../sass/schedule.scss */
.mail-msg-status-title, .mail-data-title {
  margin-top: 0.85rem;
  align-items: flex-end;
}

/* line 180, ../sass/schedule.scss */
.mail-msg-status-title-lable, .mail-msg-status-state-lable, .mail-data-title-lable {
  margin-left: 0.75rem;
  margin-right: 1.05rem;
}

/* line 185, ../sass/schedule.scss */
.mail-msg-status-title-company, .mail-data-title-company, .mail-user-data-person-data {
  font-size: 0.75rem;
  color: #333333;
}

/* line 191, ../sass/schedule.scss */
.mail-msg-status-state {
  margin-top: 0.5rem;
  align-items: flex-start;
}

/* line 197, ../sass/schedule.scss */
.mail-msg-status-state-lable {
  line-height: 0.9rem;
}

/* line 202, ../sass/schedule.scss */
.mail-msg-status-state-comtent {
  line-height: 0.9rem;
  color: #32b16c;
}

/* line 208, ../sass/schedule.scss */
.mail-line-space {
  height: 0.05rem;
  margin: 0.85rem 0.75rem 0 0.75rem;
}

/* line 215, ../sass/schedule.scss */
.mail-data {
  font-size: 0.6rem;
  color: #9a9a9a;
}

/* line 233, ../sass/schedule.scss */
.mail-data-mark {
  margin-top: 0.5rem;
  align-items: baseline;
}

/* line 239, ../sass/schedule.scss */
.mail-data-mark-lable {
  margin-left: 0.75rem;
  margin-right: 1.05rem;
}

/* line 244, ../sass/schedule.scss */
.mail-data-mark-comtent {
  line-height: 0.7rem;
  margin-right: 1.8rem;
}

/* line 250, ../sass/schedule.scss */
.mail-user-data {
  margin-top: 0.75rem;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  color: #9a9a9a;
}

/* line 257, ../sass/schedule.scss */
.mail-user-data-person {
  margin-top: 0.75rem;
}

/* line 262, ../sass/schedule.scss */
.mail-user-data-person-lable {
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

/* line 273, ../sass/schedule.scss */
.mail-msg-goIcon {
  flex-basis: 1.8rem;
  font-family: 'font-qunar';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.15rem;
}

/* line 287, ../sass/schedule.scss */
.blank-area-one {
  width: 100%;
  height: 0.5rem;
  background-color: #f0f2f4;
  margin-top: 0.8rem;
  margin-buttom: 1rem;
}

/* line 296, ../sass/schedule.scss */
.logisticStatus-road {
  margin-left: 0.95rem;
  border-left: 2px solid #dddddd;
  font-size: 0.6rem;
  color: #ababab;
  position: relative;
}

/* line 303, ../sass/schedule.scss */
.logisticStatus-road-cur {
  font-size: 0.75rem;
  font-weight: bold;
  color: #1ba9ba;
}

/* line 308, ../sass/schedule.scss */
.logisticStatus-road-pro-number {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ababab;
  border: 0.1rem solid #ababab;
  border-radius: 50%;
  background-color: #fff;
  left: -1.85rem;
  top: -0.15rem;
  text-align: center;
  z-index: 10;
}

/* line 321, ../sass/schedule.scss */
.logisticStatus-road-cur-number {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  border: 0.1rem solid #1ba9ba;
  border-radius: 50%;
  background-color: #fff;
  font-size: 0.75rem;
  left: -1.85rem;
  top: -0.15rem;
  text-align: center;
  z-index: 10;
}

/* line 334, ../sass/schedule.scss */
.logisticStatus-road-pro, .logisticStatus-road-cur {
  position: relative;
  margin-left: 1.25rem;
  margin-top: 0.8rem;
}

/* line 340, ../sass/schedule.scss */
.logisticStatus-road-data {
  position: relative;
  margin-left: 1.25rem;
  margin-top: 0.7rem;
}

/* line 346, ../sass/schedule.scss */
.logisticStatus-road-data:after {
  content: '';
  position: absolute;
  left: -1.5rem;
  top: 0.15rem;
  width: 0.35rem;
  height: 0.35rem;
  background-color: #ababab;
  border-radius: 50%;
}

/* line 357, ../sass/schedule.scss */
.logisticStatus-road-content {
  margin-left: 1.25rem;
  margin-top: 0.45rem;
  margin-right: 0.75rem;
  line-height: 0.75rem;
}

/* line 365, ../sass/schedule.scss */
.blank-line-in-road {
  background-color: #dddddd;
  margin: 0.75rem 0 0 1.25rem;
  padding: 0 1.25rem 0 0;
  width: 100%;
  height: 0.05rem;
}

/* line 375, ../sass/schedule.scss */
.bottom {
  width: 100%;
  height: 2.8rem;
  background-color: #fefefe;
}

/* line 383, ../sass/schedule.scss */
.buttom-content {
  width: 14.5rem;
  height: 1.85rem;
  border: 1px solid #1ba9ba;
  font-size: 0.8rem;
  font-weight: bold;
  color: #1ba9ba;
}

/* line 391, ../sass/schedule.scss */
#wrapper, #wrapperTwo {
  position: absolute;
  z-index: 1;
  top: 2.4rem;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  overflow: hidden;
}

/* line 403, ../sass/schedule.scss */
#scroller, #scrollerTwo {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
