
html {
    font-size : 20px;
}

// area length 
$top-length:5.6rem;
$top-title-height: 2.4rem;
$top-mail-state-hegiht: 3.2rem;


$top-color: #1ba9ba;





// font size
$f0: 0rem;

$f1: 0.05rem;
$f2: 0.1rem;
$f3: 0.15rem;
$f4: 0.3rem;
$f5: 0.35rem;
$f6: 0.3rem;
$f7: 0.35rem;
$f8: 0.4rem;
$f9: 0.45rem;
$f10: 0.5rem;

$f11: 0.55rem;
$f12: 0.6rem;
$f13: 0.65rem;
$f14: 0.7rem;
$f15: 0.75rem;
$f16: 0.8rem;
$f17: 0.85rem;
$f18: 0.9rem;
$f19: 0.95rem;
$f20: 1rem;

$f21: 1.05rem;
$f22: 1.1rem;
$f23: 1.15rem;
$f24: 1.2rem;
$f25: 1.25rem;
$f26: 1.3rem;
$f27: 1.35rem;
$f28: 1.4rem;
$f29: 1.45rem;
$f30: 1.5rem;

$f31: 1.55rem;
$f32: 1.6rem;
$f33: 1.65rem;
$f34: 1.7rem;
$f35: 1.75rem;
$f36: 1.8rem;
$f37: 1.85rem;
$f38: 1.9rem;
$f39: 1.95rem;
$f40: 2rem;

$f41: 2.05rem;
$f42: 2.1rem;
$f43: 2.15rem;
$f44: 2.2rem;
$f45: 2.25rem;
$f46: 2.3rem;
$f47: 2.35rem;
$f48: 2.4rem;
$f49: 2.45rem;
$f50: 2.5rem;

$f51: 2.55rem;
$f52: 2.6rem;
$f53: 2.65rem;
$f54: 2.7rem;
$f55: 2.75rem;
$f56: 2.8rem;
$f57: 2.85rem;
$f58: 2.9rem;
$f59: 2.95rem;
$f60: 3rem;



$f71: 3.05rem;
$f72: 3.1rem;
$f73: 3.15rem;
$f74: 3.2rem;
$f75: 3.25rem;
$f76: 3.3rem;
$f77: 3.35rem;
$f78: 3.4rem;
$f79: 3.45rem;
$f80: 3.5rem;

$f81: 3.55rem;
$f82: 3.6rem;
$f83: 3.65rem;
$f84: 3.7rem;
$f85: 3.75rem;
$f86: 3.8rem;
$f87: 3.85rem;
$f88: 3.9rem;
$f89: 3.95rem;
$f90: 4rem;

















